*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

html,
body {
  min-height: 100vh;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: Jost, sans-serif;
  background-color: #F2F2F2;
  padding: 6rem 0;
}